<div class="momentum-header py-4">
  <div class="py-2 d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <p class="momentum-header-heading mb-0 mr-1">Momentum</p>
      <img src="/assets/icons/momentum-hourglass.svg" alt="hourglass icon" />
    </div>
    <div class="d-flex align-items-center">
      <p
        routerLink="details"
        class="momentum-button momentum-button--secondary momentum-body-1 mr-4 mb-0 cursor-pointer"
      >
        თანამშრომლის შექმნა
      </p>

      <p
        routerLink="add-new-task"
        class="momentum-button momentum-button--primary momentum-body-1 cursor-pointer ml-3 mb-0"
      >
        <img src="/assets/icons/momentum-plus.svg" alt="" class="mr-1" />
        შექმენი ახალი დავალება
      </p>
    </div>
  </div>
</div>
