@use "/src/styles/typography";
@use "/src/styles/common";

.add-employee {
  padding: 7.3125rem 3.125rem 3.75rem 3.125rem;
  position: relative;
  &__department {
    max-width: 24rem;
    margin-bottom: 2.625rem;
  }
  &__close {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 2.5rem;
    right: 3.125rem;
    transform: translate(50%, -50%);
  }
}
