@use "/src/styles/constants";
@use "/src/styles/common";

.card {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 23.75rem;
  height: 13.5625rem;
  padding: 1.25rem;
  border-radius: 0.9375rem;
  &__body {
    padding-inline: 0.625rem;
  }
  &__priority {
    width: 5.5rem;
    height: 1.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid;
    line-height: 150%;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0.25rem;
  }
  &__department {
    width: 5.5rem;
    height: 1.5rem;
    white-space: nowrap;
    padding: 0.3125rem 1.1563rem;
    border-radius: 0.9375rem;
    color: #ffffff;
    font-size: 0.75rem;
  }
  &__name {
    font-weight: 600;
    color: constants.$momentum-color-dark-primary;
    margin-bottom: 0.75rem;
  }
  &__description {
    font-size: 0.875rem;
    color: constants.$momentum-color-dark-secondary;
  }
  &__image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
}
