<div
  class="card"
  [ngStyle]="{ 'border-color': color }"
  (click)="goToDetails(task?.id)"
>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex card__tags align-items-center">
      <div
        class="card__priority d-flex align-items-center justify-content-center ellipsis mr-2"
        *ngIf="task.priority"
        [ngStyle]="{
          color: priorityColors[task.priority.id - 1],
          'border-color': priorityColors[task.priority.id - 1]
        }"
      >
        <img [src]="task.priority.icon" alt="status" />
        <span class="ml-1">{{ task.priority.name }}</span>
      </div>

      <div
        class="card__department d-flex align-items-center justify-content-center"
        [ngStyle]="{
          'background-color': departmentColors[task.department.id - 1]
        }"
      >
        <div class="d-flex align-items-center">
          {{ task.department.name | departmentPipe }}
        </div>
      </div>
    </div>

    <div class="card__date">{{ task.due_date | date : "d MMM, yyyy" }}</div>
  </div>
  <div class="card__body d-flex flex-column">
    <div class="card__name">{{ task.name }}</div>
    <div class="card__description">
      {{ task.description | appGetEllipsisAfterHundredLetters }}
    </div>
  </div>
  <div
    class="d-flex justify-content-between align-items-center justify-self-end"
  >
    <img class="card__image" src="{{ task.employee.avatar }}" alt="avatar" />
    <div class="d-flex">
      <div><img src="/assets/icons/comment-icon.svg" alt="" /></div>
      <div class="ml-1">
        {{ task?.comments | appGetNumberOfCommentsAndSubComments }}
      </div>
    </div>
  </div>
</div>
