<div *ngIf="!isLoading" class="dashboard">
  <p class="page-name mt-4 mb-1">დავალებების გვერდი</p>
  <div class="dashboard__filters-container position-relative">
    <div class="dashboard__filters d-flex">
      <button
        mat-button
        [disableRipple]="true"
        [matMenuTriggerFor]="departmentsMenu"
        class="dashboard__filter d-flex flex-row-reverse momentum-body--1 clickable"
      >
        <mat-icon>arrow_drop_down</mat-icon>დეპარტამენტები
      </button>
      <button
        mat-button
        [disableRipple]="true"
        [matMenuTriggerFor]="priorityMenu"
        class="dashboard__filter d-flex flex-row-reverse momentum-body--1 clickable"
      >
        <mat-icon>arrow_drop_down</mat-icon> პრიორიტეტი
      </button>
      <button
        mat-button
        [disableRipple]="true"
        [matMenuTriggerFor]="employeeMenu"
        class="dashboard__filter d-flex flex-row-reverse momentum-body--1 clickable"
      >
        <mat-icon>arrow_drop_down</mat-icon> თანამშრომელი
      </button>
    </div>

    <div class="dashboard__chosen-filters position-absolute">
      <div
        class="dashboard__chosen-filter d-flex align-items-center"
        *ngFor="let chosenFilter of chosenFilters"
      >
        {{ chosenFilter.name }}
        <mat-icon
          svgIcon="remove-icon"
          (click)="chooseFilter(chosenFilter, chosenFilter.type, true)"
          class="momentum-icon momentum-icon--14 d-flex align-items-center clickable"
        ></mat-icon>
      </div>
      <p
        *ngIf="chosenFilters?.length"
        (click)="clearFilters()"
        class="f-flex align-content-center mb-0 mr-2"
      >
        გასუფთავება
      </p>
    </div>
  </div>

  <div class="dashboard__columns d-flex pt-3">
    <app-momentum-task-column
      *ngFor="let status of statuses"
      [status]="status"
      [tasks]="tasks | appGetTasksByStatus : status : chosenFilters"
    ></app-momentum-task-column>
  </div>
</div>

<!-- Menus -->

<mat-menu
  #departmentsMenu="matMenu"
  class="dashboard__menu momentum-menu-panel"
>
  <div class="dashboard__options">
    <div
      *ngFor="let department of departments"
      class="d-flex align-items-center"
      (click)="$event.stopPropagation(); chooseFilter(department, 'department')"
    >
      <mat-checkbox
        [checked]="chosenDepartments?.includes(department)"
      ></mat-checkbox>
      {{ department.name }}
    </div>
  </div>
  <div class="d-flex w-100 justify-content-end">
    <button
      class="dashboard__button momentum-button momentum-button--primary-round momentum-body--1 clickable ml-4 mb-0 d"
      mat-button
      (click)="applyFilters()"
    >
      არჩევა
    </button>
  </div>
</mat-menu>

<mat-menu #priorityMenu="matMenu" class="dashboard__menu momentum-menu-panel">
  <div class="dashboard__options">
    <div
      *ngFor="let priority of priorities"
      class="d-flex align-items-center"
      (click)="$event.stopPropagation(); chooseFilter(priority, 'priority')"
    >
      <mat-checkbox
        [checked]="chosenPriorities.includes(priority)"
      ></mat-checkbox>
      {{ priority.name }}
    </div>
  </div>
  <div class="d-flex w-100 justify-content-end">
    <button
      class="dashboard__button momentum-button momentum-button--primary-round momentum-body--1 clickable ml-4 mb-0 d"
      mat-button
      (click)="applyFilters()"
    >
      არჩევა
    </button>
  </div>
</mat-menu>

<mat-menu #employeeMenu="matMenu" class="dashboard__menu momentum-menu-panel">
  <div class="dashboard__options">
    <div
      *ngFor="let employee of employees"
      class="d-flex align-items-center mb-2"
      (click)="$event.stopPropagation(); chooseFilter(employee, 'employee')"
    >
      <mat-checkbox
        [checked]="chosenEmployees.includes(employee)"
      ></mat-checkbox>
      <img class="dashboard__avatar" [src]="employee.avatar" alt="" />
      {{ employee.name }}
    </div>
  </div>
  <div class="d-flex w-100 justify-content-end">
    <button
      class="dashboard__button momentum-button momentum-button--primary-round momentum-body--1 clickable ml-4 mb-0 d"
      mat-button
      (click)="applyFilters()"
    >
      არჩევა
    </button>
  </div>
</mat-menu>
