@use "/src/styles/constants";
@use "/src/styles/common";

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
  &__columns {
    gap: 3.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    app-momentum-task-column {
      min-width: 23.8125rem;
    }
  }
  &__menu {
    width: 43rem;
    min-height: 17.125rem;
  }
  &__options {
    height: 9.625rem;
    overflow-y: auto;
  }
  &__button {
    position: absolute;
    bottom: 1.25rem;
    right: 1.875rem;
  }
  &__filters-container {
    height: 2.75rem;
    display: flex;
    align-items: center;
  }
  &__filters {
    gap: 2.8125rem;
    border: 0.0625rem solid #dee2e6;
    border-radius: 0.625rem;
    max-width: fit-content;
    padding: 0.75rem 0.625rem;
    line-height: 100%;
  }
  &__filter {
    width: 12.5rem;
    height: 2.75rem;
    line-height: 100%;
    letter-spacing: 0;
    gap: 0.5rem;
    &:hover,
    &:focus {
      color: constants.$momentum-color-primary;
    }
  }
  &__chosen-filters {
    position: absolute;
    top: 100%;
    max-width: 100%;
    transform: translateY(50%);
    display: flex;
    gap: 8px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #888 constants.$momentum-color-light-2;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: constants.$momentum-color-light-2;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  &__chosen-filter {
    display: inline-block;
    padding: 0.1875rem 0.625rem;
    color: constants.$momentum-color-dark-light-1;
    border: 0.0625rem solid constants.$momentum-color-dark-light-1;
    border-radius: 2.6875rem;
    gap: 0.25rem;
  }
  &__avatar {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    margin-right: 0.625rem;
  }
  &__arrow-down {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.page-name {
  display: inline-block;
  font-weight: 600;
  font-size: 2.125rem;
  line-height: 2.5625rem;
  width: fit-content;
}
.dropdown-container {
  width: fit-content;
  padding: 0.625rem 1.125rem;
  gap: 2.8125rem;
  border: 0.0625rem solid #dee2e6;
  border-radius: 0.625rem;
}
.dropdown {
  cursor: pointer;
  color: constants.$momentum-color-tertiary;
  display: flex;
  gap: 0.8125rem;
}
