@use "/src/styles/constants";
@use "/src/styles/common";
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 52px;
  &__columns {
    gap: 52px;
  }
  &__menu {
    width: 688px;
    min-height: 274px;
  }
  &__options {
    height: 154px;
    overflow-y: auto;
  }
  &__button {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
  &__filters-container {
    height: 44px;
    display: flex;
    align-items: center;
  }
  &__filters {
    gap: 2.8125rem;
    border: 0.0625rem solid #dee2e6;
    border-radius: 10px;
    max-width: fit-content;
    padding: 0.75rem 0.625rem;
    line-height: 100%;
  }
  &__filter {
    width: 200px;
    height: 44px;
    line-height: 100%;
    letter-spacing: 0;
    gap: 0.5rem;
    &:hover,
    &:focus {
      color: #8338ec;
      fill: #8338ec;
    }
  }
  &__chosen-filters {
    position: absolute;
    top: 100%;
    max-width: 100%;
    transform: translateY(50%);
    display: flex;
    gap: 8px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  &__chosen-filter {
    display: inline-block;
    padding: 3px 10px;
    color: #ced4da;
    border: 1px solid #ced4da;
    border-radius: 43px;
    gap: 0.25rem;
  }
  &__avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__arrow-down {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.page-name {
  display: inline-block;
  font-weight: 600;
  font-size: 2.125rem;
  line-height: 2.5625rem;
  width: fit-content;
}
.dropdown-container {
  width: fit-content;
  padding: 0.625rem 1.125rem;
  gap: 2.8125rem;
  border: 1px solid #dee2e6;
  border-radius: 0.625rem;
}
.dropdown {
  cursor: pointer;
  color: constants.$momentum-color-thertiaty;
  display: flex;
  gap: 0.8125rem;
}
