@use "/src/styles/typography";
@use "/src/styles/common";

.upload {
  &__container {
    width: 100%;
    height: 120px;
    border: 1px dashed #ced4da;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: border-color 0.2s;
  }
  &__image-container {
    width: 88px;
    height: 88px;
    position: relative;
  }
  &__image {
    object-fit: cover;
    border-radius: 50%;
    width: 88px;
    height: 88px;
  }
  &__remove {
    position: absolute;
    bottom: 0;
    transform: translate(-115%, 10%);
  }
}
