$momentum-color-primary: #8338ec;
$momentum-color-primary-focus: #b588f4;
$momentum-color-dark-primary: #212529;
$momentum-color-dark-secondary: #343a40;
$momentum-color-tertiary: #0d0f10;
$momentum-color-light: #ffffff;
$momentum-color-light-2: #ffffff;
$momentum-color-dark-light-1: #ced4da;
$momentum-color-basic: #6c757d;
$momentum-color-invalid: #fa4d4d;
$momentum-color-success: #08a508;
