@use "./constants";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@font-face {
  font-family: "firaGO";
  src: url("/assets/fonts/FiraGO-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.momentum-header-heading {
  font-family: "Fredoka One", cursive;
  font-size: 1.9375rem;
  font-weight: 600;
  line-height: 2.375rem;
  color: constants.$momentum-color-primary;
}
.momentum-body-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  color: constants.$momentum-color-dark-primary;
}
