<div class="add-a-task">
  <p class="add-a-task__heading momentum-heading--1 mt-4">
    შექმენი ახალი დავალება
  </p>
  <form
    class="add-a-task__form"
    [formGroup]="addATaskForm"
    *ngIf="addATaskForm"
  >
    <div class="add-a-task__container d-flex flex-column">
      <div class="add-a-task__inner-container d-flex">
        <div
          class="add-a-task__content add-a-task__content--left d-flex flex-column justify-content-between"
        >
          <div
            *ngIf="
              addATaskForm.get('title')
                | getAppRulesState : formValue as colorStyle
            "
          >
            <mat-label class="add-a-task__label momentum-body--1"
              >სათაური*</mat-label
            >
            <mat-form-field
              appearance="outline"
              class="add-a-task__title d-flex flex-column momentum-form-field momentum-form-field--45"
            >
              <input
                matInput
                type="text"
                formControlName="title"
                name="title"
                class="momentum-input momentum-input--45"
              />
            </mat-form-field>
            <div class="add-a-task__rules d-flex flex-column gap gap--2 mt-1">
              <span
                class="add-a-task__rule d-flex gap gap--2"
                *ngFor="let rules of VALIDATION_RULES"
                [ngClass]="colorStyle"
              >
                <mat-icon
                  svgIcon="check"
                  class="momentum-icon momentum-icon--16"
                ></mat-icon>
                {{ rules }}
              </span>
            </div>
          </div>

          <div class="add-a-task__description d-flex flex-column">
            <mat-label class="add-a-task__label momentum-body--1"
              >აღწერა</mat-label
            >
            <mat-form-field
              appearance="outline"
              class="momentum-textarea-form-field"
            >
              <textarea
                matInput
                rows="4"
                formControlName="description"
              ></textarea>
            </mat-form-field>
            <div
              class="add-a-task__rules d-flex flex-column gap gap--2 mt-1"
              *ngIf="
                addATaskForm.get('description')
                  | getAppRulesState : formValue as colorStyle
              "
            >
              <span
                class="add-a-task__rule d-flex gap gap--2"
                *ngFor="let rules of VALIDATION_RULES"
                [ngClass]="colorStyle"
              >
                <mat-icon
                  svgIcon="check"
                  [ngClass]="colorStyle"
                  class="momentum-icon momentum-icon--16"
                ></mat-icon>
                {{ rules }}
              </span>
            </div>
          </div>

          <div class="add-a-task__tag w-100 d-flex">
            <div class="w-100 add-a-task__priority d-flex flex-column">
              <mat-label class="add-a-task__label momentum-body--1"
                >პრიორიტეტი*</mat-label
              >
              <mat-form-field
                class="momentum-form-field momentum-form-field--45"
                appearance="outline"
              >
                <mat-select formControlName="priority">
                  <mat-select-trigger
                    *ngIf="
                      addATaskForm
                        | appGetPriorityData
                          : priorities
                          : formValue as selectedPriority
                    "
                  >
                    <img
                      [src]="selectedPriority.icon"
                      alt=""
                      class="add-a-task__dropdown-icon momentum-icon momentum-icon--16"
                    />
                    {{ selectedPriority?.name || "Select Priority" }}
                  </mat-select-trigger>

                  <mat-option
                    *ngFor="let priority of priorities"
                    [value]="priority.id"
                  >
                    <img
                      [src]="priority.icon"
                      alt=""
                      class="add-a-task__dropdown-icon momentum-icon momentum-icon--16"
                    />

                    {{ priority.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="add-a-task__status d-flex flex-column w-100">
              <mat-label class="add-a-task__label momentum-body--1"
                >სტატუსი*</mat-label
              >
              <mat-form-field
                class="momentum-form-field momentum-form-field--45"
                appearance="outline"
              >
                <mat-select formControlName="status">
                  <mat-option
                    *ngFor="let status of statuses"
                    [value]="status.id"
                    >{{ status.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div
          class="add-a-task__content add-a-task__content--right d-flex flex-column justify-content-between"
        >
          <div class="add-a-task__employee-and-department d-flex flex-column">
            <div class="add-a-task__department d-flex flex-column">
              <mat-label class="add-a-task__label momentum-body--1"
                >დეპარტამენტი*</mat-label
              >
              <mat-form-field
                class="momentum-form-field momentum-form-field--45"
                appearance="outline"
              >
                <mat-select formControlName="department">
                  <mat-option
                    *ngFor="let department of departments"
                    [value]="department.id"
                    >{{ department.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="add-a-task__assigned-to d-flex flex-column">
              <mat-label class="add-a-task__label momentum-body--1"
                >პასუხისმგებელი თანამშრომელი*</mat-label
              >
              <mat-form-field
                class="momentum-form-field momentum-form-field--45"
                appearance="outline"
              >
                <mat-select formControlName="assignedTo">
                  <mat-option
                    class="d-flex align-items-center"
                    (click)="addEmployee()"
                    ><mat-icon
                      class="momentum-icon momentum-icon--18 d-flex justify-content-center align-items-center mr-2"
                      [svgIcon]="'plus-circle'"
                    ></mat-icon>
                    <span class="momentum-body--1 momentum-body--1--primary"
                      >დაამატე თანამშრომელი</span
                    >
                  </mat-option>
                  {{ employees?.length }}
                  <mat-option
                    *ngFor="
                      let employee of employees
                        | appFilterEmployeesByDepartment : formValue
                    "
                    [value]="employee.id"
                  >
                    <img
                      [src]="employee.avatar"
                      alt=""
                      class="add-a-task__employee-image mr-2"
                    />{{ employee.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="add-a-task__deadline d-flex flex-column">
            <mat-label class="add-a-task__label momentum-body--1"
              >დედლაინი</mat-label
            >
            <mat-form-field
              class="momentum-form-field momentum-form-field--45 momentum-form-field--date-picker"
              appearance="outline"
            >
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dueDate"
                [min]="tomorrow"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button
          class="add-a-task__submit momentum-body-2 momentum-button momentum-button--primary"
          id="add-a-task__submit"
          mat-button
          [disabled]="addATaskForm.invalid"
          (click)="handleSubmit()"
        >
          დავალების შექმნა
        </button>
      </div>
    </div>
  </form>
</div>
