@use "/src/styles/constants";
@use "/src/styles/common";
:host {
  width: 23.8125rem;
}
.tasks-container {
  gap: 3.25rem;
  margin-top: 5rem;
}
.task-progress {
  height: 3.375rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: constants.$momentum-color-light;
  border-radius: 0.9375rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
