@use "/src/styles/common";
@use "/src/styles/constants";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.task-inner-page {
  gap: 13.9375rem;
  margin-top: 2.5rem;
  &__left {
    &-type {
      gap: 1.125rem;
    }
  }
  &__right {
    background-color: #f8f3fea6;
    border-radius: 0.625rem;
    padding: 2.5rem 2.8125rem 3.25rem 2.8125rem;
    &-comments {
      position: relative;
      &-add {
        width: 40.6875rem;
      }
      &-submit {
        width: 9.6875rem;
        background-color: constants.$momentum-color-primary;
        color: white;
        position: absolute;
        font-size: 1rem;
        border-radius: 1.25rem;
        padding: 0.5rem 1.125rem;
        right: 1.25rem;
        bottom: 0.9375rem;
        &:hover {
          background-color: constants.$momentum-color-button-focus;
        }
      }

      &-quantity {
        gap: 0.4375rem;
        margin-top: 4.125rem;
        margin-bottom: 40px;
        &-text {
          font-size: 1.25rem;
          line-height: 100%;
          font-weight: 600;
        }
        &-number {
          height: 1.375rem;
          width: 1.875rem;
          background-color: constants.$momentum-color-primary;
          color: #ffffff;
          border-radius: 1.875rem;
        }
      }

      &-feedback {
        gap: 0.75rem;
        &-author {
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 100%;
          margin-bottom: 0.5rem;
        }
        &-comment {
          font-size: 1rem;
          line-height: 100%;
          color: #343a40;
          margin-bottom: 0.625rem;
        }
        &-reply {
          margin-top: 0.625rem;
          gap: 0.3125rem;
          width: fit-content;
          &:hover {
            .task-inner-page__right-comments-feedback-reply-text {
              color: constants.$momentum-color-button-focus;
            }
          }
          &-text {
            color: #8338ec;
            font-size: 12px;
            line-height: 100%;
          }

          &-comment {
            padding-top: 1.625rem;
            padding-bottom: 1.1875rem;
          }
        }
      }
    }
  }

  &__task-title {
    font-weight: 600;
    font-size: 2.125rem;
    margin-top: 0.75rem;
    line-height: 100%;
  }
  &__task-description {
    font-size: 1.125rem;
    line-height: 150%;
    margin-top: 2.25rem;
    color: #212529;
  }

  &__details {
    margin-top: 3.9375rem;
    &-title {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 100%;
      color: #2a2a2a;
      margin-bottom: 1.75rem;
    }
    &-info {
      &-status {
        gap: 4.375rem;
      }
      &-employee {
        gap: 4.375rem;
        &-department {
          margin-top: 0.9375rem;
          color: #474747;
          font-size: 0.6875rem;
          line-height: 100%;
        }
        &-name {
          color: #0d0f10;
        }
      }
      &-date {
        gap: 4.375rem;
      }
      // &-icon {
      //   height: 1.5rem;
      //   width: 1.5rem;
      // }
    }
  }
}

.priority {
  width: 106px;
  height: 26px;
  gap: 0.25rem;
  border: 0.0625rem solid #f7bc30;
  border-radius: 0.1875rem;
  line-height: 150%;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.25rem;
  color: #f7bc30;
  &__icon {
    height: 1.25rem;
    width: 1.125rem;
  }
}

.category {
  width: 5.5rem;
  height: 1.8125rem;
  white-space: nowrap;
  padding: 0.3125rem 1.1563rem;
  border-radius: 0.9375rem;
  background-color: #ff66a8;
  color: #ffffff;
  font-size: 16px;
}
select {
  width: 15.875rem;
  padding: 14px;
}
//////// shared ////////
.padding {
  padding-top: 1.4375rem;
  padding-bottom: 1.4375rem;
}
.gap-6 {
  gap: 0.375rem;
}
.gap-12 {
  gap: 0.75rem;
}
.width {
  width: 10.25rem;
}
.titles {
  color: #474747;
}
//////// Delete later /////
textarea {
  resize: none;
  height: 8.4375rem;
  padding: 1.25rem 0 0 1.125rem;
  box-shadow: 0;
  border-radius: 0.3125rem;
  &:focus {
    outline: none;
  }
}
.comment-icon {
  height: 2.375rem;
  width: 2.375rem;
}
.test {
  overflow-y: auto;
  gap: 2.375rem;
  // height: fit-content;
  height: 36.25rem;
}
// .test:has(:last-child) {
//   padding-right: 20px;
// }
